<form id="newSignalement" action="" method="post">
  <label id="date">Date</label>

  <label id="creneau">Creneau</label>
  
  <label id="alerteur">Alerteur</label>

  <label id="adresse">Adresse</label>

  <label id="couleur">Couleur</label>

  <label id="collier">Collier</label>

  <label id="animal">Animal</label>

  <label id="etat">Etat</label>

  <label><input type="submit" value="valider"></label> 
</form>