
<div>
  <label for="statut">Filtrer par Statut</label>
  <select id='statut'>
    <option value="tous">Tous</option>
  </select>
</div>

<div>
    <label class='filter' for="brigade">Filtrer les résultats actuel par brigade</label>
    <select class='filter' id='brigade'>
        <option value="tous">Tous</option>
    </select>
</div>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Créneau</th>
      <th>Alerteur</th>
      <th>Animal</th>
      <th>Couleur</th>
      <th>Adresse</th>
      <th>Etat</th>
      <th>Collier</th>
      <th>Brigade</th>
      <th>Statut</th>
      <th></th>
    </tr>
  </thead>
  <tbody id='signalementContent'>
  </tbody>
</table>