#newSignalement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
  height: 80%;
  padding: 20px;
  background-color: #18569B;
  border-radius: 40px
}

#newSignalement label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold
}