nav {
  border-bottom: 1px solid black;
  margin-bottom: 40px
}

nav ul {
  width: 100%;
  height: 5%;
  min-height: 40px;
  display: flex;
  margin-left: 30px;
  list-style: none;
}

nav ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

nav ul li a:hover {
  background-color: rgb(200, 200, 200)
}